/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}
.footer-label {
    color: #ffffff; /* Un colore per le etichette */
}

.footer-val {
    color: #ffffff; /* Un colore diverso per i valori */
}
::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default {
	background-color: Black;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	border-bottom: 2px solid #ffffff
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .dropdown-menu {
  background-color: #000000;
  border-color: #444;
}

.navbar-default .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .dropdown-menu > li > a:hover {
  background-color: #222;
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: transparent;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/Title/air_quality_banner_v3.svg) no-repeat center top;
	margin-top: 0px;
	padding-top: 500px;
	text-align: center;
	/* valid values: scroll, fixed, local */
	background-attachment: scroll;
	/* keep single, intended position; shifted 50px to the left */
	background-position: -50px top;
	min-height: 850px;
	width: 100%;

	/* Use cover for responsive background sizing */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}



/* css style to use for all three pollutant pages */

#container_pollutant {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

#page-header_pollutant {
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 9rem;
}

#page-title_pollutant {
  font-size: 7rem;
  margin-bottom: 2rem;
}

#page-subtitle_pollutant {
  color: #666;
  font-size: 1rem;
}

.section_pollutant {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  
}

.section_pollutant.reverse {
  flex-direction: row-reverse;
}

.section_pollutant img {
  width: 55%;
  border-radius: 10px;
  object-fit: cover;
}

.section-text_pollutant h2 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
  margin-left: -10px;
  
}

.section-text_pollutant p {
  line-height: 1.8;
  color: #000000;
  text-align: left;
}

@media (max-width: 650px) {
  .section_pollutant,
  .section_pollutant.reverse {
    flex-direction: column;
  }
  .section_pollutant img {
    width: 100%;
  }
}


.gallery {
  text-align: center;
  padding: 0 15px;
}

.gallery img {
  margin: 0 auto;
  display: block;
  width: 180px;
  height: 180px;
}

.icon-description {
  text-align: center;
}

